<nav>
    <img src="./assets/stop.svg" alt="stop audio feed" (click)="stop()"/>
    <img src="./assets/play.svg" alt="play audio feed" (click)="play()"/>
    <select name="devices" (change)="onSelect($event.target)">
        <option *ngFor="let device of devices;" [value]="device.deviceId">{{device.label}}</option>
    </select>
</nav>
<div class="eq-wrapper">
    <div class="eqbands">
        <ng-container *ngFor="let band of bands; index as i; trackBy: trackByFn;">
            <band [dB]="band.dB" (senseVal)="updateBandSense({sensitivity: $event, id: i})"></band>
        </ng-container>
    </div>
    <div class="freqs">
        <div class="freq" *ngFor="let freq of freqs;">{{freq}}+</div>
    </div>
</div>
