.drag__area {
    flex: 1;
    justify-content: center;
    align-items: center;
    position:relative;
    width:100%;

    cursor: pointer;
    transition: all 0.25s ease-in-out;
    border-radius: inherit;
    icon {
        transition: fill 0.05s ease-in-out;
        fill: darken(#fbfbfb, 8%);
    }
    &.dragover{
        background:red;
    }
    &::before{
        content: '';
        position:absolute;
        border: 3px dashed #1B1B20;
        width: inherit;
        height: inherit;
        min-height: 40px;
        border-radius: 3px;
    }
    &:hover {
        &::before{
            content: '';
            background: rgba(0,0,0,.25);
            border: 3px dashed rgb(var(--border));
        }
    }
}

.upload__icon{
    cursor: pointer;
    margin-right: 6px;
}
.drag__icon{
    color: black;
}
.delete-file{
    position:absolute;
    top: -14px;
    right: -20px;

    background: transparent;
    border: none;
}

input[hidden]{
    display:none;
}
