:host {
    padding:10px;
}

/* ------------------------------------------------------------------------ *
    THE EQUILIZER
* ------------------------------------------------------------------------ */
.eq-wrapper{
    align-items: center;
}
.eqbands{
    position:relative;
    align-items: flex-end;
    width:100%;
    justify-content: space-around;
}

.freqs{
    width:100%;
    cursor: default;
}
.freq{
    flex:1;
    justify-content: center;
    font-size: 11px;
}
.transparencyForm {
    position: absolute;
    right: -32px;
    top: 0;
    max-width: 18px;
    height: 255px;
}
